@media (max-width: 991px) {
    .slick-dots {
        margin-top: 25px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .promo__wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .advantages__icons {
        padding-left: 15px;
        padding-right: 15px;
    }
    .consultation__descr {
        padding-left: 15px;
    }
    .feed-form {
        padding-left: 15px;
        padding-right: 15px;
    }
    .catalog__content {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 575px) {
    .header__official {
        display: none;
    }
    .promo__header {
        display: block;
        margin: 0 auto;
    }
    .promo__subheader {
        display: block;
        margin: 0 auto;
    }
    .promo__icons {
        margin: 0 auto;
    }
    .button_main {
        margin: 0 auto;
    }
    .promo__link {
        margin: 0 auto;
    }
    .advantages__icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advantages__item {
        margin-top: 25px;
    }
    .consultation {
        margin-top: 25px;
    }
    .title__left {
        text-align-last: center;
    }
    .carousel__inner {
        max-width: 100%;
    }
    .catalog {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 375px) {
    .header {
        display: flex;
        flex-direction: column;
        &__logo {
            margin-bottom: 15px;
        }
    }
    .promo__icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carousel__inner {
        max-width: 100%;
        overflow: hidden;
    }
    .catalog__tabs {
        display: flex;
        flex-direction: column;
    }
    .catalog__tab {
        margin-bottom: 10px;
    }
    .feed {
        max-width: 100%;
    }
    .feed__block {
        display: flex;
        flex-direction: column;
    }
    .feed__round {
        display: block;
        margin: 0 auto;
    }
    .feed__name {
        text-align: center;
    }
    .feed__competitions {
        text-align: center;
    }
    .footer__info {
        max-width: 100%;
    }
}